main {
	transition: 1s $ease;
	filter: blur(0);
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

body {
	&:after {
		transition: opacity 1s $ease;
		transition-delay: 0s;
		content: '';
		z-index: 9;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		pointer-events: none;
		opacity: 0;
	}
}

.mod-mobilemenu {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: .3s $ease;
	opacity: 0;
	text-align: center;
	overflow-y: scroll;
	overflow: auto;
	padding: 30px 0;
	background: #000;
	overflow-x: hidden;
	.taalcontent {
		position: fixed;
		bottom: 0;
		z-index: 2;
		ul li a {
			height: 30px;
			line-height: 30px;
			letter-spacing: 1.5px;
			margin: 0;
			padding: 0;
			white-space: nowrap;
			color: #fff;
			text-indent: -20px;
			font-size: 13px;
			text-transform: uppercase;
		}
	}
	.menucontent {
		display: flex;
		position: fixed;
		top: 30px;
		height: calc(100% - 60px);
		margin: auto 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		ul {
			padding: 0;
			margin: 0;
			width: 100%;
			border-bottom: 5px solid #fff;
			li {
				display: block;
				width: 100%;
				margin-bottom: -5px !important;
				border-top: 5px solid #fff;
				border-bottom: 5px solid #fff;
				a:not(.btn) {
					padding: 0;
					margin: 0 !important;
					position: relative;
					display: block;
					transition: 0.4s $ease;
					color: #fff;
					font-size: 28px;
					line-height: 30px;
					height: auto;
					text-transform: uppercase;
					img {
						max-width: 20px;
						margin-top: -3px;
					}
					&:hover, &:focus {
						color: #fff;
					}
				}
				&.current-lang {
					a {
						color: $dark;
					}
				}
			}
		}
	}
}

body.opensidemenu {
	overflow: hidden;
	main {
		filter: blur(2px);
		transition: .3s $ease;
	}
	.mod-mobilemenu {
		opacity: 1;
		z-index: 99;
		transition: .3s $ease;
		.menucontent {
			opacity: 1;
		}
	}
}

@include media-breakpoint-up(md) {
	.mod-mobilemenu {
		.taalcontent {
			ul li a {
				font-size: 16px;
				height: 50px;
				line-height: 50px;
			}
		}
		.menucontent {
			top: 50px;
			height: calc(100% - 100px);
			ul {
				height: 100%;
				li {
					a:not(.btn) {
						font-size: 40px;
						line-height: 60px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.mod-mobilemenu {
		.menucontent {
			ul {
				height: calc(100vh - 100px);
				li {
					a:not(.btn) {
						font-size: 60px;
						line-height: 80px;
					}
				}
			}
		}
	}
}