section {
	padding: 0;
	position: relative;
}

.line {
	height: 3px;
	background: #000;
	margin-bottom: .78rem;
}

section.bg-transparent:not(.full-size) + section.bg-transparent:not(.full-size),
section.bg-white:not(.full-size) + section.bg-white:not(.full-size),
section.bg-dark:not(.full-size) + section.bg-dark:not(.full-size),
section.bg-brand:not(.full-size) + section.bg-brand:not(.full-size),
section.bg-action:not(.full-size) + section.bg-action:not(.full-size),
section.bg-greylight:not(.full-size) + section.bg-greylight:not(.full-size) {
	padding-top: 0 !important;
}

