{% if options.menu_hide %}{% else %}
	<div class="mod-mobilemenu">
		<div class="menucontent w-100">
			{% include "menu-mobilemenu.twig" with {'items': menu.get_items} %}
		</div>
		<div class="taalcontent">
			{% include "menu-taal.twig" with {'items': taalmenu.get_items} %}
		</div>
	</div>
{% endif %}