<div class="tease tease-agenda">
	<div class="row">
		<div class="col">
			{{ item.datum|date('d-m-Y') }} 
		</div>
		<div class="col-auto">
			<a href="{{ item.ticketlink }}" target="_blank" class="blocklink">Tickets</a>
		</div>
	</div>
	{{ Post(item.project).title }} | {{ item.locatie }} 
</div>