<div class="tease tease-agenda">
	<div class="row">
		<div class="col-md">
			{{ item.datum|date('j-m-Y') }} <br>
			{{ item.locatie }} 
		</div>
		<div class="col-md-auto" style="width: 92px">
			{% if item.ticketlink %}
				<a href="{{ item.ticketlink }}" target="_blank" class="blocklink">Tickets</a>
			{% endif %}
		</div>
	</div>
</div>